<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Mosaic</title>
        <link rel="stylesheet" type="text/css" href="/resources/css/index.css">
    </head>
    <body>
        Welcome to M.O.S.A.I.C

        <form action="/uploadImages">
            <input type="file" name="pictures" accept="image/jpeg,image/jpg" multiple>
            <input type="submit">
        </form>

        <form action="/uploadVideo">
            <input type="file" name="video" accept="video/mp4">
            <input type="submit">
        </form>

        <script src="/resources/js/index.js"></script>
    </body>
</html>